<?xml version='1.1' encoding='utf-8'?>
<widget id="com.ajandatet.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>TET Ajanda</name>
    <description>Türkiye Ermenileri Toplum Ajandası</description>
    <author email="hello@boozaa.net" href="http://www.boozaa.net">boozaa digital</author>

    <!--Requires cli-5.1.1+ for gradle Android but we recommend using the latest version. -->
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="android-build-tool" value="gradle" />

    <!-- Window Phone 8.1 builds must use cli-6.1.0+ above -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    	
    <feature name="http://api.phonegap.com/1.0/device" />    
    
    <preference name="orientation"                value="portrait" /> 
	<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.10" source="npm" />

    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />    
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <icon src="res/icon.png" />

    <platform name="android">
      <icon src="res/icons/android/ldpi.png" density="ldpi" />
      <icon src="res/icons/android/mdpi.png" density="mdpi" />
      <icon src="res/icons/android/hdpi.png" density="hdpi" />
      <icon src="res/icons/android/xhdpi.png" density="xhdpi" />
      <icon src="res/icons/android/xxhdpi.png" density="xxhdpi" />
      <icon src="res/icons/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>
	
    <gap:splash src="splash.png" />
    
	
    <platform name="android">
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xhdpi"/>
    </platform>

    <content src="http://www.tetajanda.com/ajanda/" />
    <access origin="*" subdomains="true" />
    <allow-navigation href="http://www.tetajanda.com/*" /> 
    
</widget>
